@font-face {
    font-family: Arvo;
    src: url("../fonts/Arvo-Regular.ttf") format("truetype");
}
@media screen and (max-width: 900px){
    #desc{
        text-align: center;
        margin-left: 2%;
    }}

#main{margin-top: 3%; margin:0px;background-color: white; border-radius: 2%;padding:30px; padding-bottom: 3%;}
.row{margin-right: 0px;}
#desc{font-size: 16pt;}
#van{
	margin-top: 5%;
	width: 100%;
	border-radius: 15%;
clip: rect(0px, 160px, 170px, 60px);
}
#front{margin:0px; width:100%; padding: 0px;}
body{background:#d4d6d8;
font-family: Arvo;
color: #0c497a;}